body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header a.large-link {
	font-size: 36px;
	font-weight: 300;
	color: #302a38;
	text-decoration: none;
}

header a.small-link {
	font-size: 18px;
	padding: 0 20px;
}

header a.button {
	font-size: 18px;
	color: #ffffff;
	padding: 7px;
	margin: 0px 10px 0px 13px;
	border-radius: 4px;
	border: 0px;
	text-decoration: none;
	background-color: #db97a3;
}

header a.button:hover {
	background-color: #ffffff;
	color: #db97a3;
	border: 1px solid #db97a3;
	padding: 6px;
}

header .row {
	padding: 20px 20px 0px 20px;
	display: flex;
	align-items: center;
}

div p {
	font-size: 16px;
}

div h1 {
	padding: 0px;
}

div .row img {
	padding: 0px 0px 20px;
	width: 100%;
}

div.container-fluid {
	margin: 0px 30px 0px 30px;
}
